.loaderContainer {
	display: flex;
	width: 100vw;
	height: 35vh;

	border: 1px dotted red;
}

.songsContainer {
	border: 1px dotted green;

	margin-bottom: 10rem;
}

.filterBtnContainer {
	/* border: 1px dotted red; */

	display: flex;
	gap: 2rem;
}

.filterBtnContainer h3 {
	cursor: pointer;
	/* letter-spacing: 2px; */
	font-weight: 500;
}
